.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -webkit-transition: 0.3s cubic-bezier(0.76, 0, 0.24, 1);
  -o-transition: 0.3s cubic-bezier(0.76, 0, 0.24, 1);
  transition: 0.3s cubic-bezier(0.76, 0, 0.24, 1);
}

@font-face {
  font-family: "MuseoSlab";
  font-display: swap;
  src: url("../fonts/MuseoSlab-500.woff") format("woff"), url("../fonts/MuseoSlab-500.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

._container {
  max-width: 1140px;
  width: 100%;
  margin: 0px auto;
  padding: 0px 20px;
}

body._lock {
  overflow: hidden;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
}

body {
  font-family: "Raleway", sans-serif;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 1;
  background: rgba(80, 174, 246, 0.8);
}

.header__wrapper {
  height: 133px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__logo {
  position: relative;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo img {
  margin-right: 18px;
  width: 51px;
  height: 51px;
}

.header__logo span {
  font-family: "MuseoSlab";
  font-size: 35px;
  color: #fff;
}

.header__content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.menu__ba {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.menu__area {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1;
  top: 0;
  opacity: 0;
  -webkit-transition: 0.3s cubic-bezier(0.76, 0, 0.24, 1);
  -o-transition: 0.3s cubic-bezier(0.76, 0, 0.24, 1);
  transition: 0.3s cubic-bezier(0.76, 0, 0.24, 1);
  visibility: hidden;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
}

.menu__area._active {
  opacity: 1;
  visibility: visible;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.menu__item a {
  display: inline-block;
  height: 100%;
  padding: 0px 19px;
  font-family: "Raleway", sans-serif;
  font-size: 17px;
  font-weight: 500;
  line-height: calc(60/17);
  text-transform: uppercase;
  color: #fff;
  -webkit-transition: 0.3s cubic-bezier(0.76, 0, 0.24, 1);
  -o-transition: 0.3s cubic-bezier(0.76, 0, 0.24, 1);
  transition: 0.3s cubic-bezier(0.76, 0, 0.24, 1);
}

.main {
  height: 936px;
  position: relative;
  padding-top: 133px;
}

.main__ve {
  z-index: -1;
  position: absolute;
}

.main__ve_1 {
  top: 0;
  left: 0;
}

.main__ve_2 {
  bottom: 0;
  left: 0;
}

.main__ve_3 {
  right: 0;
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.main__bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
}

.main__container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__content {
  max-width: 508px;
}

.main__text {
  margin-bottom: 70px;
}

.main__title {
  font-size: 40px;
  font-family: "MuseoSlab";
  font-weight: 500;
  text-transform: uppercase;
  color: #fffefe;
  margin-bottom: 44px;
}

.main__title span {
  display: inline-block;
  margin: 0px 20px;
}

.main__description {
  font-size: 26px;
  line-height: calc(40/26);
  font-weight: 500;
  color: #fefefe;
}

.main__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main__btn {
  width: 240px;
  height: 80px;
  font-size: 20px;
  font-weight: 600;
  background: #fff;
  -webkit-transition: 0.3s cubic-bezier(0.76, 0, 0.24, 1);
  -o-transition: 0.3s cubic-bezier(0.76, 0, 0.24, 1);
  transition: 0.3s cubic-bezier(0.76, 0, 0.24, 1);
}

.main__btn_1 {
  -webkit-box-shadow: 0px 8px 11px 0px rgba(54, 54, 54, 0.15);
          box-shadow: 0px 8px 11px 0px rgba(54, 54, 54, 0.15);
  color: #3e3e3e;
  border-radius: 10px;
  margin-right: 29px;
}

.main__btn_1 img {
  margin-right: 20px;
}

.main__btn_2 {
  color: #fff;
  background-color: rgba(72, 148, 206, 0.7);
  border-radius: 10px;
}

@media (min-width: 992px) {
  .menu__item a:hover {
    font-weight: 600;
    border-radius: 10px;
    background: #4CA2E5;
  }

  .main__btn_1:hover {
    -webkit-box-shadow: none;
            box-shadow: none;
  }

  .main__btn_1:hover img {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
  }

  .main__btn_2:hover {
    background-color: #4894ce;
  }
}

@media (max-width: 880px) {
  .menu__item a {
    padding: 0px 10px;
  }
}

@media (max-width: 768px) {
  ._container {
    max-width: 1120px;
    padding: 0px 10px;
  }

  .menu {
    position: relative;
  }

  .menu__burger {
    width: 40px;
    height: 40px;
    position: relative;
  }

  .menu__burger._active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .menu__burger._active:before {
    top: 0;
    -webkit-transform: rotate(45deg) translate(4px, -1px);
        -ms-transform: rotate(45deg) translate(4px, -1px);
            transform: rotate(45deg) translate(4px, -1px);
    -webkit-transform-origin: 0 0;
        -ms-transform-origin: 0 0;
            transform-origin: 0 0;
    width: 49px;
  }

  .menu__burger._active:after {
    bottom: auto;
    top: 0;
    left: auto;
    right: 0;
    -webkit-transform-origin: right top;
        -ms-transform-origin: right top;
            transform-origin: right top;
    -webkit-transform: rotate(-45deg) translate(-4px, -1px);
        -ms-transform: rotate(-45deg) translate(-4px, -1px);
            transform: rotate(-45deg) translate(-4px, -1px);
    width: 49px;
  }

  .menu__burger:before,
  .menu__burger:after,
  .menu__burger span {
    content: '';
    width: 100%;
    background: #fff;
    height: 4px;
    border-radius: 2px;
    position: absolute;
    -webkit-transition: 0.3s cubic-bezier(0.76, 0, 0.24, 1);
    -o-transition: 0.3s cubic-bezier(0.76, 0, 0.24, 1);
    transition: 0.3s cubic-bezier(0.76, 0, 0.24, 1);
  }

  .menu__burger:before {
    top: 7px;
  }

  .menu__burger:after {
    bottom: 7px;
  }

  .menu__burger span {
    top: 50%;
    -webkit-transform: translateY(-2px);
        -ms-transform: translateY(-2px);
            transform: translateY(-2px);
  }

  .menu__body {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    width: 40%;
    z-index: 2;
    height: 110vh;
    top: 0;
    -webkit-transition: 0.3s cubic-bezier(0.76, 0, 0.24, 1);
    -o-transition: 0.3s cubic-bezier(0.76, 0, 0.24, 1);
    transition: 0.3s cubic-bezier(0.76, 0, 0.24, 1);
    right: 0;
  }

  .menu__body:before {
    width: 100%;
    height: 99px;
    background: #4CA2E5;
    content: '';
    top: 0;
    left: 0;
    position: fixed;
    z-index: 0;
  }

  .menu__body._active {
    opacity: 1;
    visibility: visible;
  }

  .header__wrapper {
    height: 100px;
  }

  .header__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }

  .menu__burger {
    position: relative;
    z-index: 3;
  }

  .menu__body {
    padding-top: 100px;
    overflow: auto;
    background: #fff;
    padding-bottom: 60px;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .menu__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    border-bottom: 1px solid #eee;
  }

  .menu__item a {
    color: #4CA2E5;
    width: 100%;
    text-align: right;
    font-size: 24px;
    line-height: 50px;
  }

  .main {
    padding-top: 100px;
  }

  .main__ve_3 {
    -webkit-transform: translate(0);
        -ms-transform: translate(0);
            transform: translate(0);
    bottom: 5%;
    top: auto;
  }

  .main__container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .main__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .main__text {
    margin-bottom: 35px;
    text-align: center;
  }

  .main__title {
    margin-bottom: 22px;
  }
}

@media (max-width: 768px) and (max-width: 604px) {
  .menu__body {
    width: 65%;
  }
}

@media (max-width: 768px) and (max-width: 375px) {
  .menu__body {
    width: 80%;
  }
}

@media (max-width: 550px) {
  .main {
    height: 650px;
  }

  .main__ve {
    display: none;
  }

  .main__title {
    font-size: 20px;
  }

  .main__description {
    font-size: 16px;
  }

  .main__actions {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .main__btn {
    font-size: 18px;
  }

  .main__btn_1 {
    margin-right: 0;
    margin-bottom: 29px;
  }
}