.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -webkit-transition: 0.4s linear;
  -o-transition: 0.4s linear;
  transition: 0.4s linear;
}

@font-face {
  font-family: "MuseoSlab";
  font-display: swap;
  src: url("../fonts/MuseoSlab-500.woff") format("woff"), url("../fonts/MuseoSlab-500.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

._container {
  max-width: 1140px;
  width: 100%;
  margin: 0px auto;
  padding: 0px 20px;
}

body._lock {
  overflow: hidden;
}

.title {
  font-family: "Roboto Slab", serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 24px;
  position: relative;
}

.title:before {
  content: '';
  position: absolute;
  width: 30px;
  height: 2px;
  background: #2eb0ec;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.title__tprew {
  font-size: 18px;
  line-height: calc(24/18);
  color: #7c7c7c;
  margin-bottom: 5px;
}

.title__tname {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.2;
  letter-spacing: 0.1em;
  color: #494949;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
}

body {
  font-family: "Raleway", sans-serif;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 1;
  background: rgba(80, 174, 246, 0.8);
}

.header__wrapper {
  height: 133px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__logo {
  position: relative;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo img {
  margin-right: 18px;
  width: 51px;
  height: 51px;
}

.header__logo span {
  font-family: "MuseoSlab";
  font-size: 35px;
  color: #fff;
}

.header__content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.menu__ba {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.menu__area {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1;
  top: 0;
  opacity: 0;
  -webkit-transition: 0.4s linear;
  -o-transition: 0.4s linear;
  transition: 0.4s linear;
  visibility: hidden;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
}

.menu__area._active {
  opacity: 1;
  visibility: visible;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.menu__item a {
  display: inline-block;
  height: 100%;
  padding: 0px 19px;
  font-family: "Raleway", sans-serif;
  font-size: 17px;
  font-weight: 500;
  line-height: calc(60/17);
  text-transform: uppercase;
  color: #fff;
  -webkit-transition: 0.4s linear;
  -o-transition: 0.4s linear;
  transition: 0.4s linear;
}

.main {
  height: 936px;
  position: relative;
  padding-top: 133px;
}

.main__ve {
  z-index: -1;
  position: absolute;
}

.main__ve_1 {
  top: 0;
  left: 0;
}

.main__ve_2 {
  bottom: 0;
  left: 0;
}

.main__ve_3 {
  right: 0;
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.main__bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
}

.main__container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__content {
  max-width: 508px;
}

.main__text {
  margin-bottom: 70px;
}

.main__title {
  font-size: 40px;
  font-family: "MuseoSlab";
  font-weight: 500;
  text-transform: uppercase;
  color: #fffefe;
  margin-bottom: 44px;
}

.main__title span {
  display: inline-block;
  margin: 0px 20px;
}

.main__description {
  font-size: 26px;
  line-height: calc(40/26);
  font-weight: 500;
  color: #fefefe;
}

.main__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main__btn {
  width: 240px;
  height: 80px;
  font-size: 20px;
  font-weight: 600;
  background: #fff;
  -webkit-transition: 0.4s linear;
  -o-transition: 0.4s linear;
  transition: 0.4s linear;
}

.main__btn_1 {
  -webkit-box-shadow: 0px 8px 11px 0px rgba(54, 54, 54, 0.15);
          box-shadow: 0px 8px 11px 0px rgba(54, 54, 54, 0.15);
  color: #3e3e3e;
  border-radius: 10px;
  margin-right: 29px;
}

.main__btn_1 img {
  margin-right: 20px;
}

.main__btn_2 {
  color: #fff;
  background-color: rgba(72, 148, 206, 0.7);
  border-radius: 10px;
}

.services {
  padding-top: 97px;
  margin-bottom: 86px;
}

.services__container {
  overflow: hidden;
}

.services__title {
  margin-bottom: 85px;
}

.services__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px -41.5px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.services__column {
  padding: 0px 41.5px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.3333%;
          flex: 0 0 33.3333%;
  margin: 0px 0px 83px 0px;
}

.item-services {
  min-width: 300px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item-services__icon {
  height: 105px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 105px;
  width: 100%;
  margin-bottom: 20px;
}

.item-services__icon img {
  width: 100%;
}

.item-services__text {
  text-align: center;
}

.item-services__title {
  font-size: 18px;
  line-height: 1.2;
  font-weight: 700;
  color: #494949;
  margin-bottom: 32px;
}

.item-services__description {
  line-height: calc(26/14);
  font-weight: 500;
  color: #7c7c7c;
  text-align: center;
}

.features {
  padding-top: 120px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 97px;
}

.features__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.features__picture {
  max-width: 696px;
  width: 100%;
}

.features__picture img {
  width: 100%;
}

.features__container {
  padding-top: 19px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-left: 3.47222%;
}

.features__title {
  margin-bottom: 25px;
}

.features__content {
  margin-bottom: 15px;
}

.features__item {
  position: relative;
  margin-bottom: 19px;
}

.features__item:last-child {
  margin-bottom: 0;
}

.features__dot {
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  width: 20px;
  height: 20px;
  background: rgba(150, 219, 239, 0.5);
  border-radius: 50%;
}

.features__dot:before {
  content: '';
  position: absolute;
  width: 12px;
  height: 12px;
  top: 50%;
  left: 50%;
  background: #66d4f4;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 50%;
}

.features__text {
  padding-left: 41px;
  line-height: 30px;
  font-weight: 500;
  color: #7c7c7c;
}

.features__btn {
  margin-left: 6px;
  width: 150px;
  -webkit-transition: 0.4s linear;
  -o-transition: 0.4s linear;
  transition: 0.4s linear;
  text-transform: uppercase;
  height: 50px;
  border-radius: 25px;
  background: #66d4f4;
  -webkit-box-shadow: 0px 10px 16px 0px rgba(101, 211, 243, 0.3);
          box-shadow: 0px 10px 16px 0px rgba(101, 211, 243, 0.3);
  font-weight: 700;
  letter-spacing: 0.1em;
  color: #fff;
}

.title-features {
  color: #494949;
  line-height: 1.2;
  font-weight: 600;
}

.title-features__prewords {
  opacity: 0.4;
  font-size: 22px;
  margin-bottom: 23px;
}

.title-features__text {
  font-size: 32px;
  margin-bottom: 36px;
}

.title-features__description {
  font-size: 20px;
  line-height: calc(32/20);
  font-weight: 500;
  color: #7c7c7c;
  max-width: 519px;
}

.os {
  padding-top: 54px;
  padding-bottom: 20px;
}

.os__container {
  overflow: hidden;
}

.os__title {
  margin-bottom: 109px;
}

.os__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px -32px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.os__column {
  padding: 0px 32px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.333%;
          flex: 0 0 33.333%;
  margin-bottom: 100px;
}

.os__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.item-os {
  height: 100%;
  min-width: 300px;
}

.item-os__icon {
  margin-right: 20px;
}

.item-os__name {
  line-height: 44px;
  font-size: 18px;
  font-weight: 600;
  color: #494949;
}

.item-os__text {
  line-height: calc(26/16);
  font-weight: 500;
  color: #7c7c7c;
  max-width: 258px;
}

.feedback {
  padding-top: 50px;
  padding-bottom: 110px;
  position: relative;
}

.feedback__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -3;
}

.feedback__title {
  margin-bottom: 75px;
}

.feedback__content {
  position: relative;
}

.feedback__content:before,
.feedback__content:after {
  content: '';
  position: absolute;
  background: #fff;
  -webkit-box-shadow: 0px 0px 38px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 38px 0px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) translate(0px, -11px);
      -ms-transform: translate(-50%, -50%) translate(0px, -11px);
          transform: translate(-50%, -50%) translate(0px, -11px);
}

.feedback__content:before {
  width: 790px;
  height: 310px;
  opacity: 0.8;
  z-index: -1;
}

.feedback__content:after {
  z-index: -2;
  opacity: 0.6;
  width: 844px;
  height: 258px;
}

.feedback__slider {
  margin-bottom: 37px;
}

.feedback__arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.feedback__arrows .slick-arrow {
  font-size: 18px;
  line-height: calc(30/18);
  font-weight: 700;
  color: #494949;
  background: transparent;
  margin: 0px 15px;
}

.feedback__arrows .slick-disabled {
  opacity: 0.5;
  -webkit-transition: 0.4s linear;
  -o-transition: 0.4s linear;
  transition: 0.4s linear;
  cursor: default;
}

.feedback__arrows .slick-prev {
  padding-left: 48px;
  background: url("../img/arrowIconRev.svg") center left/35px 17px no-repeat;
}

.feedback__arrows .slick-next {
  padding-right: 48px;
  background: url("../img/arrowIcon.svg") center right/35px 17px no-repeat;
}

.slider-feedback {
  position: relative;
  z-index: 0;
  padding: 0px 16.81818%;
}

.slider-feedback .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider-feedback .slick-list {
  padding-top: 45px;
  overflow: hidden;
}

.slider-feedback__item {
  padding: 80px 80px 110px 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #fff;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.07);
  -webkit-box-shadow: 0px 0px 51px 0px rgba(0, 0, 0, 0.07);
          box-shadow: 0px 0px 51px 0px rgba(0, 0, 0, 0.07);
  position: relative;
}

.slider-feedback__icon {
  position: absolute;
  top: -45px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.slider-feedback__mi {
  text-align: center;
  margin-bottom: 40px;
}

.slider-feedback__name {
  font-size: 20px;
  line-height: calc(30/20);
  font-weight: 700;
  color: #494949;
  margin-bottom: 5px;
}

.slider-feedback__position {
  font-size: 15px;
  line-height: calc(30/15);
  font-weight: 500;
  color: #7c7c7c;
}

.slider-feedback__comment {
  text-align: center;
  font-size: 18px;
  line-height: calc(30/18);
  font-weight: 500;
  color: #7c7c7c;
  max-width: 571px;
}

.ftd__wrapper {
  padding: 160px 0px 150px;
}

.ftd__continer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ftd__text {
  margin-right: 35px;
  color: #494949;
  line-height: 1.2;
  max-width: 450px;
  font-weight: 600;
  min-width: 375px;
}

.ftd__pretext {
  opacity: 0.4;
  font-size: 22px;
  margin-bottom: 28px;
}

.ftd__name {
  font-size: 32px;
  margin-bottom: 36px;
}

.ftd__subtext {
  font-size: 20px;
  margin-bottom: 40px;
  line-height: calc(32/20);
  font-weight: 500;
  color: #7c7c7c;
}

.ftd__description {
  line-height: calc(26/14);
  font-weight: 500;
  color: #7c7c7c;
}

.ftd__picture {
  max-width: 532px;
  width: 100%;
}

.ftd__picture img {
  width: 100%;
}

.price {
  padding: 67px 0px 106px 0px;
  position: relative;
}

.price__bg {
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  z-index: -1;
  position: absolute;
}

.price__title {
  margin-bottom: 102px;
}

.price__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px -22px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.price__column {
  padding: 0px 22px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  -webkit-transition: 0.4s linear;
  -o-transition: 0.4s linear;
  transition: 0.4s linear;
}

.plan {
  min-width: 300px;
  position: relative;
  padding: 47px 20px;
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.03);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.4s linear;
  -o-transition: 0.4s linear;
  transition: 0.4s linear;
  margin-bottom: 44px;
}

.plan__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.plan__bg {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
}

.plan__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 60px;
  max-width: 120px;
  width: 100%;
}

.plan__icon img {
  width: 100%;
}

.plan__body {
  margin-bottom: 50px;
}

.plan__main {
  margin-bottom: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.plan__name {
  font-size: 16px;
  line-height: 1.2;
  font-weight: 700;
  color: #494949;
}

.plan__dollar,
.plan__time {
  font-size: 20px;
  font-weight: 500;
  color: #2eb0ec;
  margin: 20px 4px 0px 0px;
}

.plan__count {
  font-weight: 800;
  background: -o-linear-gradient(56deg, #6af4f9 13%, #2eb0ec 86%);
  background: linear-gradient(34deg, #6af4f9 13%, #2eb0ec 86%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #2eb0ec;
  font-size: 72px;
}

.plan__time {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin: 0px 0px 0px 4px;
}

.plan__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.plan__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.plan__info p {
  color: #bebebe;
  line-height: calc(32/14);
  font-weight: 500;
}

.plan__info p._active {
  color: #7c7c7c;
}

.plan__btn {
  width: 150px;
  height: 50px;
  background: #66d4f4;
  border-radius: 25px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #fff;
}

.contact {
  padding: 70px 0px 110px;
}

.contact__title {
  margin-bottom: 70px;
}

.contact__content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact__form {
  max-width: 370px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact__input {
  max-width: 100%;
  min-width: 300px;
  width: 100%;
  height: 75px;
  margin: 0px 0px 26px 0px;
}

.contact__input:last-child {
  margin: 0;
}

.contact__input input {
  width: inherit;
  height: inherit;
  background: #f5fafa;
  border: 1px solid rgba(0, 0, 0, 0.02);
  border-radius: 37.5px;
  -webkit-transition: 0.4s linear;
  -o-transition: 0.4s linear;
  transition: 0.4s linear;
  font-weight: 700;
  text-align: center;
  padding: 0px 20px;
  color: #7c7c7c;
}

.contact__input input::-webkit-input-placeholder {
  opacity: 0.34;
  color: #505050;
}

.contact__input input::-moz-placeholder {
  opacity: 0.34;
  color: #505050;
}

.contact__input input:-ms-input-placeholder {
  opacity: 0.34;
  color: #505050;
}

.contact__input input::-ms-input-placeholder {
  opacity: 0.34;
  color: #505050;
}

.contact__input input::placeholder {
  opacity: 0.34;
  color: #505050;
}

.contact__button {
  width: 100%;
  min-width: 300px;
  height: 75px;
}

.contact__button button {
  width: inherit;
  height: inherit;
  background: #66d4f4;
  border-radius: 37.5px;
  -webkit-transition: 0.4s linear;
  -o-transition: 0.4s linear;
  transition: 0.4s linear;
  font-size: 16px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
  letter-spacing: 0.1em;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 50px 0 100px;
  width: 100%;
  border-top: 1px solid #dfdfdf;
  border-bottom: 1px solid #dfdfdf;
}

.footer__info {
  padding-top: 10px;
  max-width: 210px;
  width: 100%;
  margin-right: 20px;
  min-width: 210px;
}

.footer__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "MuseoSlab";
  font-size: 40px;
  color: #313131;
  margin-bottom: 20px;
}

.footer__logo img {
  width: 44px;
  height: 44px;
  margin-right: 15px;
}

.footer__text {
  line-height: calc(28/14);
  font-weight: 500;
  color: #7c7c7c;
  margin-bottom: 20px;
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px -55px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__column {
  padding: 0px 55px;
}

.footer__bottom {
  padding: 35px 0px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__bottom div {
  border-right: 1px solid #7c7c7c;
  padding: 0px 16px;
  line-height: calc(28/14);
  font-weight: 500;
  color: #7c7c7c;
}

.footer__bottom div span {
  font-weight: 800;
}

.footer__bottom div:last-child {
  border-right: 0;
}

.socials__item {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.socials__item:last-child {
  margin-right: 0;
}

.item-footer {
  min-width: 110px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.item-footer__title {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 700;
  color: #494949;
  margin-bottom: 45px;
}

.item-footer__link {
  line-height: calc(28/14);
  font-weight: 500;
  color: #7c7c7c;
}

input:focus::-webkit-input-placeholder {
  font-size: 0;
}

input:focus::-moz-placeholder {
  font-size: 0;
}

input:focus:-ms-input-placeholder {
  font-size: 0;
}

input:focus::-ms-input-placeholder {
  font-size: 0;
}

input:focus::placeholder {
  font-size: 0;
}

@media (min-width: 992px) {
  .menu__item a:hover {
    font-weight: 600;
    border-radius: 10px;
    background: #4CA2E5;
  }

  .main__btn_1:hover {
    -webkit-box-shadow: none;
            box-shadow: none;
  }

  .main__btn_1:hover img {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
  }

  .main__btn_2:hover {
    background-color: #4894ce;
  }

  .features__btn:hover {
    background: #42A7F4;
  }

  .price__column._active {
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
  }

  .price__column._active .plan {
    -webkit-box-shadow: 0px 0px 51px -1px rgba(92, 148, 161, 0.23);
            box-shadow: 0px 0px 51px -1px rgba(92, 148, 161, 0.23);
  }

  .plan__btn:hover {
    -webkit-box-shadow: 0px 10px 16px 0px rgba(101, 211, 243, 0.3);
            box-shadow: 0px 10px 16px 0px rgba(101, 211, 243, 0.3);
  }

  .contact__input input:focus {
    background: #fff;
    -webkit-box-shadow: 0px 8px 16px 0px rgba(92, 148, 161, 0.07);
            box-shadow: 0px 8px 16px 0px rgba(92, 148, 161, 0.07);
  }

  .contact__button button:hover {
    -webkit-box-shadow: 0px 10px 16px rgba(101, 211, 243, 0.3);
            box-shadow: 0px 10px 16px rgba(101, 211, 243, 0.3);
  }

  .item-footer__link:hover {
    text-decoration: underline;
  }
}

@media (max-width: 1080px) {
  .footer__column {
    padding: 0px 30px;
  }
}

@media (max-width: 1000px) {
  .feedback__content:before,
  .feedback__content:after {
    display: none;
  }
}

@media (max-width: 890px) {
  .features {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .features {
    padding-top: 40px;
    padding-bottom: 30px;
  }

  .features__picture {
    -ms-flex-item-align: start;
        align-self: flex-start;
    max-width: 550px;
  }

  .features__container {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    padding-top: 30px;
  }

  .features__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    text-align: right;
  }

  .features__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }

  .features__dot {
    left: auto;
    right: 0;
  }

  .features__text {
    padding-left: 0;
    padding-right: 41px;
  }
}

@media (max-width: 885px) {
  .footer__column {
    padding: 0px 15px;
  }
}

@media (max-width: 880px) {
  .menu__item a {
    padding: 0px 10px;
  }
}

@media (max-width: 850px) {
  .slider-feedback {
    padding: 0px 50px;
  }
}

@media (max-width: 835px) {
  .price__content {
    margin: 0px -10px;
  }

  .price__column {
    padding: 0px 10px;
  }
}

@media (max-width: 768px) {
  ._container {
    max-width: 1120px;
    padding: 0px 10px;
  }

  .menu {
    position: relative;
  }

  .menu__burger {
    width: 40px;
    height: 40px;
    position: relative;
  }

  .menu__burger._active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .menu__burger._active:before {
    top: 0;
    -webkit-transform: rotate(45deg) translate(4px, -1px);
        -ms-transform: rotate(45deg) translate(4px, -1px);
            transform: rotate(45deg) translate(4px, -1px);
    -webkit-transform-origin: 0 0;
        -ms-transform-origin: 0 0;
            transform-origin: 0 0;
    width: 49px;
  }

  .menu__burger._active:after {
    bottom: auto;
    top: 0;
    left: auto;
    right: 0;
    -webkit-transform-origin: right top;
        -ms-transform-origin: right top;
            transform-origin: right top;
    -webkit-transform: rotate(-45deg) translate(-4px, -1px);
        -ms-transform: rotate(-45deg) translate(-4px, -1px);
            transform: rotate(-45deg) translate(-4px, -1px);
    width: 49px;
  }

  .menu__burger:before,
  .menu__burger:after,
  .menu__burger span {
    content: '';
    width: 100%;
    background: #fff;
    height: 4px;
    border-radius: 2px;
    position: absolute;
    -webkit-transition: 0.4s linear;
    -o-transition: 0.4s linear;
    transition: 0.4s linear;
  }

  .menu__burger:before {
    top: 7px;
  }

  .menu__burger:after {
    bottom: 7px;
  }

  .menu__burger span {
    top: 50%;
    -webkit-transform: translateY(-2px);
        -ms-transform: translateY(-2px);
            transform: translateY(-2px);
  }

  .menu__body {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    width: 40%;
    z-index: 2;
    height: 110vh;
    top: 0;
    -webkit-transition: 0.4s linear;
    -o-transition: 0.4s linear;
    transition: 0.4s linear;
    right: 0;
  }

  .menu__body:before {
    width: 100%;
    height: 99px;
    background: #4CA2E5;
    content: '';
    top: 0;
    left: 0;
    position: fixed;
    z-index: 0;
  }

  .menu__body._active {
    opacity: 1;
    visibility: visible;
  }

  .header__wrapper {
    height: 100px;
  }

  .header__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }

  .menu__burger {
    position: relative;
    z-index: 3;
  }

  .menu__body {
    padding-top: 100px;
    overflow: auto;
    background: #fff;
    padding-bottom: 60px;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .menu__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    border-bottom: 1px solid #eee;
  }

  .menu__item a {
    color: #4CA2E5;
    width: 100%;
    text-align: right;
    font-size: 24px;
    line-height: 50px;
  }

  .main {
    padding-top: 100px;
  }

  .main__ve_3 {
    -webkit-transform: translate(0);
        -ms-transform: translate(0);
            transform: translate(0);
    bottom: 5%;
    top: auto;
  }

  .main__container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .main__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .main__text {
    margin-bottom: 35px;
    text-align: center;
  }

  .main__title {
    margin-bottom: 22px;
  }

  .services {
    padding-top: 50px;
    margin-bottom: 0px;
  }

  .services__title {
    margin-bottom: 50px;
  }

  .features__container {
    padding-top: 30px;
  }

  .title-features__prewords {
    margin-bottom: 15px;
  }

  .title-features__text {
    margin-bottom: 25px;
  }

  .os {
    padding-top: 30px;
    padding-bottom: 0;
  }

  .os__title {
    margin-bottom: 65px;
  }

  .os__column {
    margin-bottom: 50px;
  }

  .feedback {
    padding-bottom: 50px;
  }

  .feedback__tname {
    text-align: center;
  }

  .ftd__wrapper {
    padding: 75px 0;
  }

  .ftd__continer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .ftd__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    margin-bottom: 50px;
    margin-right: 0px;
    min-width: 300px;
  }

  .ftd__pretext {
    margin-bottom: 15px;
  }

  .ftd__name {
    margin-bottom: 20px;
  }

  .ftd__subtext {
    margin-bottom: 25px;
  }

  .price {
    padding: 40px 0px;
  }

  .contact {
    padding: 55px 0px;
  }

  .contact__title {
    margin-bottom: 35px;
  }

  .footer__top {
    padding: 50px 0px;
  }

  .item-footer__title {
    margin-bottom: 25px;
  }
}

@media (max-width: 768px) and (max-width: 604px) {
  .menu__body {
    width: 65%;
  }
}

@media (max-width: 768px) and (max-width: 375px) {
  .menu__body {
    width: 80%;
  }
}

@media (max-width: 750px) {
  .footer__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .footer__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    margin: 0px 0px 30px;
  }

  .item-footer {
    text-align: center;
  }
}

@media (max-width: 625px) {
  .footer__bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .footer__bottom div {
    border-right: 0px solid #000;
  }
}

@media (max-width: 550px) {
  .main {
    height: 650px;
  }

  .main__ve {
    display: none;
  }

  .main__title {
    font-size: 20px;
  }

  .main__description {
    font-size: 16px;
  }

  .main__actions {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .main__btn {
    font-size: 18px;
  }

  .main__btn_1 {
    margin-right: 0;
    margin-bottom: 29px;
  }

  .slider-feedback {
    padding: 0;
  }

  .slider-feedback__item {
    padding: 65px 35px 35px;
  }

  .footer__top {
    padding: 50px 0px 20px;
  }

  .footer__column {
    padding: 0px 55px;
    margin-bottom: 30px;
  }
}

@media (max-width: 505px) {
  .feedback__title {
    margin-bottom: 35px;
  }
}

@media (max-width: 425px) {
  .features__container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .features__title {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }

  .features__text {
    line-height: 20px;
    text-align: right;
  }

  .title-features__text {
    font-size: 24px;
  }

  .title-features__description {
    font-size: 18px;
  }

  .slider-feedback__item {
    padding: 65px 20px 20px;
  }
}

@media (max-width: 375px) {
  .footer__column {
    padding: 0px 15px;
  }
}